# Ignore my vscode configuration (in this case only python interpreter)
.vscode/*

Lab*/*.wav
Lab*/*.png
Lab*/*.jpg
Lab*/*.csv


Lab*/audio_sequence/
Lab*/a/
Lab*/images/
Lab*/MFCCs/
Lab*/STFTs/
Lab*/Silence/
Lab*/models*
Lab*/Screenshots
Lab*/*/__pycache__
Lab*/__pycache__
Lab*/kws*


Lab*/serialized_mfccs
Lab*/serialized_spectogram

my_model

